---
---

$header-bg-color: #ce4e07 !default;
$header-bg-color-secondary: #C5732A !default;
@import "{{ site.theme }}";

a, .main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
  color: #ce4e07;
}

.avatar {
  border-radius: 50%;
  height: 48px;
  margin-right: 16px;
  vertical-align: middle;
  width: 48px;
}
